<header>
<a href="{{ site.baseurl }}/" class="logo">
	<img src="{{ site.baseurl }}/img/logo-germinacion.svg" width="40px">
	<small>Germinación del camino</small>
</a>
<nav class="primary-menu">
	<a href="{{ site.baseurl }}/guia-de-plantas/" class="{% if page.url == 'guia-de-plantas'%} active {% endif %}">guía de plantas</a>
	<a href="{{ site.baseurl }}/virtudes/" class="{% if page.url == 'virtudes'%} active {% endif %}">por virtudes</a>
	<a href="{{ site.baseurl }}/quienes-somos/" class="{% if page.url == 'quienes-somos'%} active {% endif %}">quienes somos</a>
</nav>
</header>
