<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Germinacion del camino</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">	
	<link rel="stylesheet" href="{{site.baseurl}}/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/manifest.json">
<link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
    
    <!--[if IE]>
    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
	<body>
		{{content}}
	</body>
	
	<!-- Contains the above code in a script tag-->
	{% include serviceWorker.html %} 
	
	<div class="offline-ready">Site is Ready for Offline Use</div>
</html>