<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Germinacion del camino</title>
	<meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, user-scalable=no">	
	<link rel="stylesheet" href="{{site.baseurl}}/style.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
	<script src="{{ site.baseurl }}/js/search.js"></script>
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/manifest.json">
	<link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#21ba45">
	<meta name="description" content="Se trata aquí de enumerar una serie de afecciones comunes, cuya resolución puede ser acompañada del uso de plantas para la salud."/>
	<meta content="Germinación del camino" property="og:site_name">
	<meta content="Germinación del camino" property="og:title">
	<meta content="Se trata aquí de enumerar una serie de afecciones comunes, cuya resolución puede ser acompañada del uso de plantas para la salud. " property="og:description">
	<meta content="https://germinacion.github.io/" property="og:url">
	<meta content="https://germinacion.github.io/img/germinacion.png" property="og:image">

	<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>

	

	<script>
		function showStatus(online) {
		  const statusEl = document.querySelector('.network-status');

		  if (online) {
		    statusEl.classList.remove('warning');
		    statusEl.classList.add('success');
		  } else {
		    statusEl.classList.remove('success');
		    statusEl.classList.add('warning');
		  }
		}

		window.addEventListener('load', () => {
		  // 1st, we set the correct status when the page loads
		  navigator.onLine ? showStatus(true) : showStatus(false);

		  // now we listen for network status changes
		  window.addEventListener('online', () => {
		    showStatus(true);
		  });

		  window.addEventListener('offline', () => {
		    showStatus(false);
		  });
		});
	</script>

	<script>
		$(document).ready(function(){
		  // Add smooth scrolling to all links
		  $("a").on('click', function(event) {

		    // Make sure this.hash has a value before overriding default behavior
		    if (this.hash !== "") {
		      // Prevent default anchor click behavior
		      event.preventDefault();

		      // Store hash
		      var hash = this.hash;

		      // Using jQuery's animate() method to add smooth page scroll
		      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
		      $('html, body').animate({
		        scrollTop: $(hash).offset().top
		      }, 800, function(){
		   
		        // Add hash (#) to URL when done scrolling (default click behavior)
		        window.location.hash = hash;
		      });
		    } // End if
		  });
		});
		</script>

    <!--[if IE]>
    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
	<body>
		{{content}}
	</body>
	
	<!-- Contains the above code in a script tag-->
	{% include serviceWorker.html %} 

	<div class="offline-ready" style="display: none">Ya podes usarnos sin internet</div>


</html>
