---
layout: default
---

<header style="position: relative;" id="inicio">
	<a href="{{ site.baseurl }}/" class="logo">
		<img src="{{ site.baseurl }}/img/logo-germinacion.svg" width="40px">
		<small>Germinación del camino</small>
	</a>
	<nav class="primary-menu">
		<a href="{{ site.baseurl }}/guia-de-plantas/" class="{% if page.url == 'guia-de-plantas'%} active {% endif %}">guía de plantas</a>
		<a href="{{ site.baseurl }}/virtudes/" class="{% if page.url == 'virtudes'%} active {% endif %}">por virtudes</a>
		<a href="{{ site.baseurl }}/quienes-somos/" class="{% if page.url == 'quienes-somos'%} active {% endif %}">quienes somos</a>
	</nav>
</header>
<div class="main-container" style="padding-top: 0;">
	<div class="post">
	<div class="pagination">  
		  {% if page.previous.url %}  
		    <a class="prev" href="{{page.previous.url}}" style="flex: 1;">
		    	<img src="{{ site.baseurl }}/img/{{page.previous.img}}.jpg" alt="{{ page.title }}" width="50px">
		    	{{page.previous.title}}
		    </a>  
		  {% endif %}  
		  {% if page.next.url %}  
		    <a class="next" href="{{page.next.url}}" style="text-align: right; flex: 1;">
		    	{{page.next.title}}
		    	<img src="{{ site.baseurl }}/img/{{page.next.img}}.jpg" alt="{{ page.title }}" width="50px">
		    </a>  
		  {% endif %}  
		</div>  
	<img src="{{ site.baseurl }}/img/{{ page.img }}.jpg" alt="{{ page.title }}" width="100%">
	<div class="indice">
		<h2><i>{{page.title}}</i></h2>
		<a href="#inicio">Inicio</a>
		<a href="#parte-usada">Parte usada</a>
		<a href="#planta-usos">Para qué problema se usa</a>
		<a href="#preparacion">Preparacion</a>
		<a href="#otros-usos">Otros usos</a>
		<a href="#cuidados-especiales">Cuidados especiales</a>
		<a href="#virtudes">Virtudes</a>

	</div>
	<h1>{{page.title}} <i>({{page.nombre-cientifico}})</i></h1>
	<div>{{page.meta}}</div> <br>
	<p>{{content}}</p>

	<div id="virtudes" class="relatedPosts">

	<div class="post-categories">
		  <h4>virtudes del {{page.title}}</h4>
		  {% if post %}
		    {% assign categories = post.tags %}
		  {% else %}
		    {% assign categories = page.tags %}
		  {% endif %}
		  {% for category in categories %}
		  	<small class="ui label large" style="margin: 5px;" >{{category}}</small>{% unless forloop.last %}&nbsp;{% endunless %}
		  {% endfor %}
		</div>

	<h4>plantas con virtudes similares</h4> 

	

	{% assign maxRelated = 3 %}
	{% assign minCommonTags =  2 %}
	{% assign maxRelatedCounter = 0 %}

	  {% for post in site.posts %}

	    {% assign sameTagCount = 0 %}
	    {% assign commonTags = '' %}

	    {% for tag in post.tags %}
	      {% if post.url != page.url %}
	        {% if page.tags contains tag %}
	          {% assign sameTagCount = sameTagCount | plus: 1 %}
	          {% capture tagmarkup %} <small class="ui label large" style="margin: 5px;">{{ tag }}</small> {% endcapture %}
	          {% assign commonTags = commonTags | append: tagmarkup %}
	        {% endif %}
	      {% endif %}
	    {% endfor %}

		<div class="ui items">
	    {% if sameTagCount >= minCommonTags %}
	      <div class="item">
	        <a class="image" href="{{ site.baseurl }}{{ post.url }}">
	          <img src="{{ site.baseurl }}/img/{{ post.img }}.jpg" alt="{{ post.title }}">
	        </a>
	        <div class="content">
	          <a class="header" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	          <div class="description">
	            <p>{{ commonTags }}</p>
	          </div>
	        </div>
	      </div>

	      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
	      {% if maxRelatedCounter >= maxRelated %}
	        {% break %}
	      {% endif %}
	    {% endif %}
		</div>
	  {% endfor %}

	</div>
	</div>
	


</div>
{% include footer.html %}